.transition {
    transition: transform .2s ease, box-shadow .2s ease;
}

.transition:hover {
    transform: translateY(-10px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
}

:root {
    --bs-primary: #9500ff;
    --forsaken-color: #02052b;
}